# Игнорировать папку node_modules
node_modules/

# Игнорировать файлы окружения
.env
.env.local

# Игнорировать логи и временные файлы
*.log
*.tmp

# Игнорировать системные файлы
.DS_Store
Thumbs.db# Local Netlify folder

# Netlify CLI временные файлы
netlify/blobs-serve
netlify/functions-internal
netlify/state.json
netlify/v1